.go-further {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 500;

  &::after {
    letter-spacing: -0.2px;
    color: $main-font-color;
    cursor: pointer;
  }

  &::before {
    content: '';
    display: inline-block;
    padding-right: 24px;
    width: 8px;
    height: 10px;
    background: url('../img/icons/further-icon.svg') no-repeat center center;
  }

  &--brands {
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }
}

.about__text-group.go-further-opened,
.slider.go-further-opened {
  height: auto;
}

.go-further-opened ~ .go-further::before {
  transform: rotate(180deg);
}
