.header {
  padding: 18px 0;
  background-color: #FFF;
  border: 1px solid #D9FFF5;

  @media (min-width: 1360px) {
    display: none;
  }

  &__navigation {
    display: flex;
    align-items: center;
    margin: 0 -8px;
  }
  &__buttons-block {
    display: flex;
    position: relative;

    &--divider--left::before,
    &--divider--right::after {
      content: '';
      position: absolute;
      width: 2px;
      height: 32px;
      top: 50%;
      transform: translateY(-50%);
      background: $divider-color;
    }
    &--divider--left {

      &::before {
        left: -14px;
      }
    }
    &--divider--right {
      @media (min-width: 768px) {
        margin-right: 26px;
      }

      &::after {
        display: none;
        right: -14px;

        @media (min-width: 768px) {
          display: block;
        }
      }
    }
  }
  &__tablet-buttons {
    display: none;
    @media (min-width: 768px) {
      display: flex;
      margin-right: 26px;
    }
  }
}
