.lang-switcher {
  &__item:not(:last-child) {
    margin-right: 7px;
  }
  &__item--selected,
  &__item:hover, {
    color: $additional-font-color;
  }
  &__item {
    background: none;
    border: none;
    padding: 0;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
  }
}
