.modal {
  position: fixed;
  height: calc(var(--vh, 1vh) * 100);
  top: 0;
  right: 0;
  max-width: 440px;
  box-sizing: border-box;
  font-size: $paragraph-font-size;
  line-height: $modal-line-height;
  transform: translateX(450px);
  transition: transform .5s, opacity 1s, visibility .5s ease-in-out;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  background: #FFF;
  z-index: 100;

  @media (min-width: 520px) {
    overflow: visible;

    .rounded-button--icon--close {
      position: absolute;
      left: -85px;
    }
  }

  .container {
    padding: 24px 16px;

    @media (min-width: 520px) {
      overflow: auto;
      height: calc(var(--vh, 1vh) * 100);
      box-sizing: border-box;
    }
    @media (min-width: 768px) {
      padding: 24px;
    }
    @media (min-width: 1120px) {
      padding: 32px;
    }
  }

  &__title {
    margin-bottom: 24px;
  }
  &__input {
    width: 100%;
    margin-bottom: 16px;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    padding: 12px 16px;
    box-sizing: border-box;

    &::placeholder {
      color: $placeholder-color;
      font-size: $main-font-size;
      line-height: $main-line-height;
    }

    &--textarea {
      resize: none;
    }
  }
  &__personal-policy {
    margin-bottom: 23px;

    a {
      color: $icon-color;
    }
  }
  &--feedback,
  &--callback {
    &--opened {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }
}
