.rounded-button {
  padding: 0;
  height: 40px;
  font-size: 0;
  border: none;
  background: none;
  cursor: pointer;
  transition: color .3s;
  -webkit-tap-highlight-color: transparent;

  &:before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  &:hover,
  &:active {
    color: $additional-font-color;
  }

  &--navigation {
    margin: 0 8px;
  }
  &--menu:not(:last-of-type) {
    margin-right: 16px;
  }
  &--modal {
    margin-bottom: 32px;
  }
  &--order {
    position: relative;
    border: none;
    border-radius: 16px;
    background-color: $icon-color;
    color: #ffffff;
    font-weight: 700;
    font-size: .85em;
    line-height: $main-line-height;
    text-transform: uppercase;
    letter-spacing: .5px;
    transition: background-color .5s ease;

    &:hover {
      background-color: $navigation-color;

      &::after {
        transform: translateX(5px);
        transition: transform .5s ease;
      }
    }
    &::after {
      content: '';
      position: absolute;
      width: 7px;
      height: 10px;
      right: 16px;
      top: 11px;
      background: url('../img/icons/dropdown.svg') no-repeat center center;
    }
  }
  &--title {
    display: none;

    @media (min-width: 1360px) {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      margin-left: 32px;
    }

    &::before {
      margin-left: 8px;
    }
  }
  &--icon {
    &::before {
      background: $icon-color no-repeat center center;
      transition: background-color .3s;
    }
    &:hover::before {
      background-color: $navigation-color;
    }

    &--message {
      &::before {
        background-image: url('../img/icons/callback-icon.svg');
      }
    }
    &--callback {
      &::before {
        background-image: url('../img/icons/message-icon.svg');
        background-position: 10px 10px;
      }
    }
    &--profile {
      &::before {
        background-image: url('../img/icons/profile-icon.svg');
        background-position: 10px 10px;
      }
    }
    &--burger {
      &.divider::after {
        display: none;

        @media (min-width: 768px) {
          display: inline-block;
          transform: translateX(22px) translateY(-4px);
        }
      }

      @media (min-width: 768px) {
        margin-right: 34px;
      }

      &::before {
        background-image: url('../img/icons/burger-icon.svg');
      }
    }
    &--services {
      @media (min-width: 1360px) {
        margin-left: auto;
      }

      &::before {
        background-image: url('../img/icons/services-icon.svg');
      }
    }
    &--search1 {
      &::before {
        background-image: url('../img/icons/search-icon1.svg');
      }
    }
    &--search2 {
      &::before {
        background-image: url('../img/icons/search-icon2.svg');
      }
    }
    &--close {
      &::before {
        background-image: url('../img/icons/close-icon.svg');
      }
    }
  }
}
