$icon-color: #FF3E79;
$main-font-color: #1B1C21;
$main-background-color: #F8F8F8;
$additional-font-color: #7E7E82;
$navigation-color: #41F6D7;
$additional-navigation-color: #B8FFEC;
$placeholder-color: #B5B6BC;
$divider-color: #EAEAEA;

$main-font-family: 'TT Lakes', sans-serif;
$main-font-size: 16px;
$main-line-height: 24px;
$main-font-weight: 500;
$paragraph-font-size: 14px;
$paragraph-line-height: 18px;
$modal-line-height: 16px;
