@import '~normalize.css';
@import '~reset-css';

@import 'fonts';
@import 'vars';

@import 'blocks/container/container';
@import 'blocks/header/header';
@import 'blocks/logo/logo';
@import 'blocks/divider/divider';
@import 'blocks/section/section';
@import 'blocks/main/main';
@import 'blocks/rounded-button/rounded-button';
@import 'blocks/menu/menu';
@import 'blocks/lang-switcher/lang-switcher';
@import 'blocks/about/about';
@import 'blocks/brands/brands';
@import 'blocks/go-further/go-further';

body {
  font-family: $main-font-family;
  font-size: $main-font-size;
  line-height: $main-line-height;
  font-weight: $main-font-weight;
  color: $main-font-color;
  background-color: $main-background-color;

  &.overflow-hidden {
    overflow: hidden;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;

  //&::after {
  //
  //}
  //&.menu-opened::after {
  //  display: block;
  //}
}

.container-menu {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  height: 100%;

  @media (min-width: 768px) {
    padding: 0 24px;
  }
}

.swiper-pagination-bullet-active {
  background: #B5B6BC;
}
